.row, html {
	height: 100%;
	width: cover;
	 background:   linear-gradient(
	   rgba(26, 25, 25, 0.801), 
	   rgba(26, 25, 25, 0.801)
	 ), url("../images/noir.jpg") no-repeat center center fixed; 
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	 
	   
   }

body {
   
  font-family: 'Limelight', cursive;
    margin: 0;
    padding: 0;
  }
  .container-fluid {
    margin: 0;
    padding-right: 0;
    border: none;
  }
  
  h1 {
    font-weight: bold;
    font-family: 'Limelight', cursive;
    width: 100%;
     border-top-left-radius: 25px; 
     border-top-right-radius: 25px; 
     border-bottom: 5px #8b1616 solid;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px
  }

  .timer {
    font-weight: bold;
    font-family: 'Limelight', cursive;
    font-size: 28px;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    /* border-bottom: 5px #8b1616 solid; */
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px
  }
  
  img {
    height: 250px;
    width: 300px;
    /* border: 2px #416788 solid; */
    border-radius: 25px;
  }
  
  button {
    display: block;
    margin: 10px auto;
    background-color: #416788;
    color: white;
    font-size: 20px !important;
    border-radius: 4px;
  }
  
  button:hover {
    transform: scale(1.1);
    border: 3px black solid;
    box-shadow: 0 0 1rem #81D2C7;
    background-color: #81D2C7;
    color: black;
  }
  
  #start {
    vertical-align: center;
    transform: translate(0, 150%);
    height: 75px;
    width: 200px;
    font-size: 48px !important;
    font-family: 'Space Mono', monospace;
  }
  
  #content {
    /* background-image: url("../images/noir.jpg"); */
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    position: relative;
    color: white;
    height: 600px;
    /* border: 5px #8b1616 solid; */
    border-radius: 25px;
    margin: 50px auto;
    text-align: center;
    /* box-shadow: 3px 3px 20px 6px #ccc !important; */
    padding-bottom: 20px;
  }
  
  #content::after {
    content: "";
    /* background-image: url("../images/noir.jpg");  */
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: .4;
  }
  
  #question-area {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 28px;
  }
  
  .message-content {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  
  /* For smaller screens */
  @media screen and (max-width: 640px) {
    #content {
      height: 700px;
    }
  
    img {
      height: 200px;
      width: 250px;
    }
  }